
$sunsetSize: 400px;
.background {
  height: 130%;
  width: 130%;
  transform: translateZ(-150px);
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,.4);
  background: linear-gradient(#00baff, #1e78ff);
}
.sunset {
  width: $sunsetSize ;
  height: $sunsetSize;
  background: linear-gradient(#F00, #FC0);
  border-radius: $sunsetSize / 2;
  position: absolute;
  box-shadow: 0 2px 6px rgba(0,0,0,.4);
  transform: translateZ(-50px);
}
.sea {
  width: $sunsetSize;
  height: $sunsetSize ;
  //background-image: linear-gradient(#4CA1FF, #3646ff);
  border-radius: $sunsetSize/2;
  position: absolute;
  transform: translateZ(-30px) ;

  background: linear-gradient(to top,
          rgba(30,87,153,1) 0%,rgba(32,124,202,1) 6%,
          rgba(41,137,216,0) 6%, rgba(41,137,216,0) 8%,
          rgba(41,137,216,1) 8%,rgba(125,185,232,1) 14%,

          rgba(41,137,216,0) 14%, rgba(41,137,216,0) 18%,
          rgba(41,137,216,1) 18%,rgba(125,185,232,1) 24%,

          rgba(125,185,232,0) 24%
  );

  // Needs latest Compass, add '@import "compass"' to your scss
  // Permalink - use to edit and share this gradient:
  // https://colorzilla.com/gradient-editor/#1e5799+0,207cca+12,207cca+12,2989d8+13,2989d8+24,2989d8+25,7db9e8+37,7db9e8+38&1+0,1+12,0+13,0+24,1+25,1+37,0+38
  //@include filter-gradient(#1e5799, #007db9e8, vertical); // IE6-9
  //@include background-image(linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(32,124,202,1) 12%,rgba(41,137,216,0) 13%,rgba(41,137,216,0) 24%,rgba(41,137,216,1) 25%,rgba(125,185,232,1) 37%,rgba(125,185,232,0) 38%));

}



.leaves {
  position: absolute;
  height: 100px;
  width: 100px;
  transform: translateX(200px) translateY(100px) translateZ(-30px) rotateZ(10deg);


  .leaf {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100% 0;
    background: #509D56;
    box-shadow: 0 2px 6px rgba(0,0,0,.4);
    transform-origin: 0 100%;
    transform: rotateZ(-33deg) ;
    &:nth-child(1) {
      transform: rotateZ(0deg) ;
    }
    &:nth-child(2) {
      transform: rotateZ(23deg) ;
    }
  }

  &.left {

    transform: translateX(-100px) translateY(80px) translateZ(-30px) rotateZ(-10deg);
    .leaf {
      transform: rotateZ(-55deg) ;
      &:nth-child(1) {
        transform: rotateZ(-84deg) ;
      }
      &:nth-child(2) {
        transform: rotateZ(-110deg) ;
      }
    }
  }
}

.bird {
  position: absolute;
  transform: translateZ(50px) translateX(100px) translateY(-130px) rotateZ(15deg) ;
  filter: blur(1px);
  width: 80px;
  .wing {
    position: absolute;
    width: 50%;
    height: 20px;
    border-top: 4px solid black;
    border-radius: 100%;

    &.-left {
      transform-origin: 100% 50%;
      animation: wingLeft 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate;
    }

    &.-right {
      right: 0;
      transform-origin: 0 50%;
      animation: wingRight 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate;
    }
  }

  &.left-1 {
    transform: translateZ(60px) translateX(-100px) translateY(-130px) rotateZ(15deg) ;
  }
  &.left-2 {
    transform: translateZ(30px) translateX(-80px) translateY(-100px) rotateZ(-10deg) ;
  }
}

.musical-toast {
  width: 100px!important;
  height: 100px!important;
  line-height: 100px!important;
  border-radius: 100px!important;
  div {
    height: 100px!important;
    line-height: 100px!important;
    width: 50px!important;
    padding: 0!important;
    &:nth-child(2) {
      p {
        line-height: 100px!important;
        display: block!important;
        text-align: center;
        padding: 0!important;
      }
    }
  }
}